:root {
    --primary-color: #b3c2ff;
    --secondary-color: #bafaff;
    --accent1-color: #bbbaff;
    --accent2-color: #baffc9;
    --subtle-color: #bae1ff;
    --primary-trans-color: rgba(179, 237, 255, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: var(--subtle-color);
}

header {
    text-align: center;
    width: 100%;
    background-color: var(--primary-color);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

header h1 {
    color: #fff;
    margin: 0;
    font-size: 1.8rem;
}

.navigation {
    position: relative;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: var(--accent1-color);
    display: flex;
    flex-direction: column;
    justify-content: unset;
    position: absolute;
    top: 2.5rem;
    right: 0;
    width: 150px;
}

.navigation li {
    display: none;
    border-bottom: 1px solid var(--primary-color);
}

.navigation a {
    text-decoration: none;
    padding: 0.88rem;
    display: block;
    text-align: center;
    font-size: 1.2rem;
}

.navigation a:hover {
    background-color: var(--secondary-color);
    color: #000;
}

.open li {
    display: block;
}

.active {
    background-color: var(--primary-trans-color);
    color: #fff;
}

header a {
    color: #000;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

#menu::before {
    color: #fff;
    content: "☰";
    padding: 5px;
}

#menu.open::before {
    content: "❎";
    padding: 0;
}

main {
    padding: 1rem;
}

main h2 {
    margin: 0;
    padding: 0.75rem;
    text-align: center;
    background-color: var(--accent1-color);
}

.temple-listings {
    margin: 1rem 1rem 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.temple-card {
    background-color: var(--subtle-color);
    padding: 1rem;
    border: 1px solid #ddd;
    text-align: center;
    margin: 0.5rem;
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.temple-card h3 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.temple-card img {
    margin-top: 1rem;
    max-width: 400px;
    width: 100%;
    height: auto;
    box-shadow: 3px 3px 10px #000;
    border-radius: 8px;
}

.temple-detail {
    width: 100%;
    font-size: 0.9rem;
}

.detail-label {
    font-variant: small-caps;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #000;
    margin-top: 1em;
    padding: 1px;
}

footer p {
    margin: 0.5em;
    color: #fff;
}
